.contact {
  padding-bottom: 40px;
  position: relative;
  @media (min-width: 991px) {
    padding-bottom: 80px;
  }
  &__container,
  .container {
    max-width: 96%;
    margin-left: auto;
    margin-right: auto;
    @media (max-width: 991px) {
      max-width: 100%;
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  &__wrap {
    z-index: 3;
    background-color: $background-light-grey;
    text-align: center;
    border-radius: 30px;
    padding: 90px 20px 110px;
    position: relative;
    overflow: hidden;
  }
  &__title {
    z-index: 2;
    max-width: 600px;
    text-align: center;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  &__title__text {
    font-family:
      Open Sans,
      sans-serif;
    font-size: 28px;
    font-weight: 700;
    @media (min-width: 479px) {
      font-size: 30px;
    }
    @media (min-width: 768px) {
      font-size: 34px;
    }
    @media (min-width: 998px) {
      font-size: 40px;
    }
  }
  &__top-right-shape {
    display: none;
    z-index: 1;
    width: 500px;
    height: 500px;
    background-image: linear-gradient(78.3deg, #e7eff2 8%, #f2f6f7);
    border-radius: 100%;
    position: absolute;
    top: -41%;
    bottom: auto;
    left: auto;
    right: -11%;
  }
  &__bottom-left-shape {
    display: none;
    width: 500px;
    height: 500px;
    background-image: linear-gradient(72.3deg, #f2f6f7 11%, #e7eff2);
    border-radius: 100%;
    position: absolute;
    top: auto;
    bottom: -52%;
    left: -14%;
    right: auto;
    z-index: -1;
  }
  &__icon {
    display: none;
    @media (min-width: 479px) {
      display: block;
      z-index: 2;
      position: absolute;
      bottom: auto;
      right: auto;
      top: 52%;
      left: 2%;
    }
    @media (min-width: 768px) {
      top: 49%;
      left: 2%;
    }
    @media (min-width: 998px) {
      top: 35%;
      left: 5%;
    }
  }
  &__icon.icon-two {
    @media (min-width: 479px) {
      top: 1%;
      left: 4%;
    }
    @media (min-width: 768px) {
      top: 4%;
      left: 4%;
    }
    @media (min-width: 998px) {
      top: 6%;
      left: 10%;
    }
  }
  &__icon.icon-three {
    @media (min-width: 479px) {
      top: auto;
      bottom: 1%;
      left: 11%;
      right: auto;
    }
    @media (min-width: 768px) {
      bottom: 4%;
      left: 20%;
    }
    @media (min-width: 998px) {
      bottom: 9%;
      left: 16%;
    }
  }
  &__icon.icon-four {
    @media (min-width: 479px) {
      top: auto;
      left: auto;
      bottom: 30%;
      right: 1%;
    }
    @media (min-width: 768px) {
      bottom: 32%;
      right: 6%;
    }
    @media (min-width: 998px) {
      bottom: 23%;
      right: 24%;
    }
  }
  &__icon.icon-five {
    @media (min-width: 479px) {
      top: 4%;
      bottom: auto;
      left: auto;
      right: 10%;
    }
    @media (min-width: 768px) {
      top: 5%;
    }
    @media (min-width: 998px) {
      top: 15%;
    }
  }
  &__icon.icon-six {
    @media (min-width: 479px) {
      left: auto;
      top: auto;
      bottom: 2%;
      right: 7%;
    }
    @media (min-width: 768px) {
      bottom: 5%;
      right: 14%;
    }
    @media (min-width: 998px) {
      bottom: 10%;
      right: 6%;
    }
  }
}
